// Colors definitions
// Use it with `color`-Mixin
// Example background-color: color('gray', 'dark')
$colors : (
    'gray': (
        'light': #ccc,
        'medium': #333,
        'dark': #30383A
    ),
    'blue': (
        'default': #2FC3F2
    )
);

// Breakpoints
$breakpoints: (
    'xlarge': '(min-width: 100em)'
);

// Legacy
$old-ie: false !default;
